// Define variables for your color scheme

// For example:
$black: #000;
$blue: #469AE0;
$gray: #888;
$green: #32B796;
$light-gray: #F4F4F4;
$orange: #E67E22;
$red: #EE5F5B;
$white: #fff;
$yellow: #FDB631;



$background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%);
$background: #fff;
$border: #dddddd;
$box-shadow: #dddddd;
$brand-color: #FD955E;

