<main>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <header class="header">
          <div class="actions">
            <%= link_to raw('<i class="fas fa-chevron-left"></i>'), root_path, class: "default" %>
          </div>
          <div class="header-body">
           <h1 class="text-center">New Cocktail</h1>
           </div>
        </header>
         <%= render 'form', cocktail: @cocktail %>
      </div>
    </div>
  </div>
</section>
</main>
