#show{
  section:last-child{
    margin: 0;
  }
  .infos{
    color:inherit;
    display: flex;
    height: 70vh;
    padding: $padding;

    img{
      border-radius: $border-radius;
      flex-basis: 60%;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .photo{
    flex-basis:60%
  }

  .info{
    display: flex;
    flex-direction: column;
    flex-grow:1;
    height: 100%;
    padding: $padding;


     button{
      background: transparent;
      border: none;
      font-size: x-large;
      height: fit-content;
      padding:0;
      padding-left: 2px;
    }

    input[name="dose[description]"]{
      width: fit-content;
    }

    // This ajust the select2 theme to the same style of the bootstrap
    .select2-container--bootstrap .select2-selection{
      border-radius: 2px;
      height: 36px;
    }

    .help-block{
      font-size: x-small;
    }
  }

  .list{
    overflow: scroll;
  }
}
