section{
  height: calc(100vh - #{$navbar-size} ) ;
  margin-top: $navbar-size;

  &.no-margin{
    margin-top:0;
  }

  .header{
    align-items: center;
    display: flex;
    margin: $margin 0 ;
  }
  .header-body{
    flex-grow:1;

    h1{
      margin: 0;
    }
    p {
      font-size: medium;
      font-style: italic;
      font-weight: lighter;
    }
  }
}
// Links

.default{
  color: $gray;
}

.primary{
  color: $blue;
}

.danger{
  color: $red;
}
