.form {
  background-color: $background;
  border-radius: $border-radius;
  border: $border;
  box-shadow: $border-shadow;
  padding: $padding;

  .actions{
    padding-top: ($padding/2);
  }
}

.form-inline{
  display: flex;
}
