/* Your banner CSS file */
.hero{
  align-items: center;
  background-size: cover;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  text-align: center;
}
.hero-content h1 {
  font-size: floor(( $font-size-h1 * 2));
  text-transform: capitalize;
}

.hero-content p {
  color: $white;
  font-size: ($font-size-base * 1.5);
  font-style: italic;
  font-weight: lighter;
  opacity: .6;
}
