/* Main navbar */
.navbar-wagon {
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  display: flex;
  height: $navbar-size;
  justify-content: space-between;
  padding: 0px $padding;
  transition: all 0.5s  ease;
}
.navbar-wagon-color{
  background-color: $blue;
  box-shadow: border-shadow-full-width;

  .navbar-wagon-link:hover {
     background-color: $brand-color;
     color: $white;
  }
}
.navbar-wagon-brand {
  img {
    height: $logo-small-size;
  }
}
.navbar-wagon-right {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 ($padding/2);
}

/* Navbar link */
.navbar-wagon-link {
  border-radius: $border-radius;
  border: $hero-border;
  color: $white;
  padding: ($padding/2);
  transition: all 0.3s ease;

  &:hover {
    color: $brand-color;
    text-decoration: none;
  }
}

